apiVersion: v1
kind: Namespace
metadata:
  name: ingress-nginx
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: nginx-ingress-serviceaccount
  namespace: ingress-nginx
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-ingress-controller
  namespace: ingress-nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx-ingress
  template:
    metadata:
      labels:
        app: nginx-ingress
    spec:
      serviceAccountName: nginx-ingress-serviceaccount
      containers:
      - name: nginx-ingress-controller
        # image: k8s.gcr.io/ingress-nginx/controller:v1.11.1
        image: nginx/nginx-ingress:latest
        args:
          - /nginx-ingress-controller
          - --configmap=$(POD_NAMESPACE)/nginx-configuration
        ports:
        # - name: http
        #   containerPort: 80
        - name: https
          containerPort: 443
        - name: bolt
          containerPort: 7687
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-ingress-service
  namespace: ingress-nginx
spec:
  type: NodePort
  selector:
    app: nginx-ingress
  ports:
  # - name: http
  #   port: 80
  #   targetPort: 80
  #   nodePort: 30080
  - name: jdbc-tcp
    port: 443
    targetPort: 443
    nodePort: 30443
  - name: bolt-tcp
    port: 7687
    targetPort: 7687
    nodePort: 30687
